@use 'variables' as *;

.hero {
    background: $gradient-green-pink;
    width: 100%;
    padding: 40px;
    margin-bottom: 80px;
    margin-top: 122.38px;
    h1 {
        font-size: 1.5rem;
        margin-bottom: 25px;
        overflow-wrap: break-word;
    }
    &__text {
        font-size: 1rem;
    }
}