@use 'variables' as *;

.top-bar {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 10px 10px 0 10px;
    background-color: $color-white;

    &__item {
        list-style-type: none;
    }
    
    &__list {
        display: flex;
        justify-content: end;
        gap: 10px;
        margin-bottom: 10px;
    }
}

.topbar-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-color: transparent;

    &--font-adj {
        min-width: 107px;
    }

    &--search {                    
        min-width: 56px;
    }

    &--menu {
        min-width: 44px;
    }

    &__text {
        margin-top: -5px;
        font-size: .75rem;
    }
}

.decor-line {
    height: 2px;
}