@use 'variables' as *;

.driver-popover {
    display: flex !important;
    border-radius: 0;
    flex-direction: column;
}

.driver-popover-close-btn {
    align-self: flex-end;
    background-color: $color-brown;
    width: 44px;
    height: 44px;
    margin-bottom: 20px;
    position: relative;
    font-size: 30px;
    color: $color-white !important;
}

.driver-popover-close-btn::after {
    color: $color-black;
    content: 'Zamknij';
    font-size: 1rem;
    position: absolute;
    right: 55px;
    top: 10px;
} 

.driver-popover-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
}

.driver-popover-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.driver-popover-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-top: 20px;
}

.driver-popover-navigation-btns {
    gap: 5px;
}

.driver-popover-footer button {
    text-shadow: none;
    border: 0;
    border-radius: 0;
    font-family: 'Poppins', sans-serif;
}

.driver-popover-next-btn {
    background-color: $color-dark-green !important;
    color: $color-white !important;
    padding: 20px 32px !important;
    font-size: 16px !important;
}

.driver-popover-prev-btn {
    background-color: $color-brown !important;
    color: $color-white !important;
    padding: 20px 25px !important;
    font-size: 16px !important;
}

.driver-popover-footer .driver-popover-btn-disabled {
    background-color: $color-saved !important;
    color: $color-black !important;
}

.driver-popover-progress-text {
    align-self: start;
    margin-top: 20px;
    color: $color-dark-green !important;
    font-family: 'Poppins', sans-serif !important;
}