@use "reset.scss";
@use "footer.scss";
@use "top-nav-bar.scss";
@use "bottom-nav-bar.scss";
@use "slider.scss";
@use "go-up-button.scss";
@use "hero.scss";
@use "menu-hamburger.scss";

a {
    text-decoration: none;
    color: #000;
    }

.hero {
    background: transparent;
    margin-bottom: 0px;
    height: 80px;
    padding: 0px;
}

.news {
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        padding: 0px 20px 40px;
        font-size: 1.5rem;
    }

    &__decor-line {
        padding-left: 20px;
        padding-bottom: 15px;
        width: 152px;
    }

    &__data {
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .news-info {
        display: flex;
        gap: 10px;
        font-size: .75rem;
    }

    &__sum {
        font-size: 1rem;
        font-weight: 600;
        padding: 0 20px 40px 20px;
    }

    &__img-container {
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-bottom: 40px;
    }
    &__img {
        z-index: 9999;
        display: blo
        ck;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 28px;
        font-size: .875rem;
        padding: 40px 20px 40px;
    }

    .news-source {
        &__note {
            display: flex;
            align-items: center;
            padding-bottom: 80px;
            padding-left: 10px;
        }
        .arrow-right {
            font-size: 30px;
            color: #005F70;
        }
        .btn-full {
            display: block;
            text-decoration: underline;
            font-size: .875rem;
            padding: 20px;
        }
    }
}

.save-btn {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-bottom: 25px;
    background-color: #005F67;
    font-size: .875rem;
    color: #fff;
    position: fixed;
    bottom: 120px;
    right: 0px;

    &__frame {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: #fff 1px solid;
        padding: 13px 18px;
    }
}