@use "reset.scss";
@use "footer.scss";
@use "top-nav-bar.scss";
@use "bottom-nav-bar.scss";
@use "slider.scss";
@use "go-up-button.scss";
@use "hero.scss";
@use "menu-hamburger.scss";

a {
    text-decoration: none;
    color: #000;
    }

.search-sec {
    margin-bottom: 80px;
    &__wrapper {
        margin-bottom: 30px;
    }
    &__title {
        display: flex;
        align-items: center;
        }
    &__h {
        font-size: 1.25rem;
    }
    .arrow-right {
        font-size: 50px;
        color: #E99576;
    }
    &__wrapper {
        background-color: #FFDACE;
        padding: 20px 10px;

        .clean-btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            margin-bottom: 10px;

            .clean-text {
                font-size: .75rem;
            }
            .clean-btn {
                width: 44px;
                height: 44px;
                padding: 3px;
                background-color: #A23205;
                display: flex;
                align-items: center;
                justify-content: center;
                &__frame {
                    border: #fff 1px solid;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }
                &__visibility {
                    color: #fff
                }
            }
        }
        .search {
            &__container {
                display: flex;
                align-items: center;
                gap: 10px;
                .search-btn {
                    width: 44px;
                    height: 44px;
                    padding: 3px;
                    background-color: #005F67;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;               
                    &__frame {
                        border: #fff 1px solid;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &__text {
                &--voice {
                    text-align: right;
                }
            }
            &__info {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;

            }
            &__text {
                font-size: .75rem;
                align-items: center;
            }
        }

    }
    .input-container {
        height: 44px;
        width: 90%;
        background-color: #fff;
        border: 2px #000 solid;
        display: flex;
        .mic-btn {
            padding: 0 10px;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #fff;
            .mic-icon {
                font-size: 27px;
            }
        }
    }
    .search-input {
        height: 100%;
        width: 100%;
        border: none;
        padding: 0 10px;
        font-size: 14px;
    }
}
.result-sec {
    margin-bottom: 80px;
    &__wrapper {
        margin-bottom: 30px;
    }
    &__title {
        display: flex;
        align-items: center;
        }
    &__h {
        font-size: 1.25rem;
        overflow-wrap: break-word;
    }
    .arrow-right {
        font-size: 50px;
        color: #E99576;
    }
}
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 8px 30px 0px;
  margin-bottom: 80px;
}
.result-card {
  background: #FFDACE;
  &__content {
    padding: 12px;
  }
  &__img {
    width: 100%;
    height: auto;
    display: block;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1rem;
  }
  &__sum {
    margin: 8px 0 12px;
  }
  &__actions {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: end;
  }
  &__info {
    display: flex;
    gap: 10px;
    font-size: .75rem
  }
  &__decor-line {
    width: 100%;
    height: 1px;
  }
}
.btn-read-more {
    padding: 3px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005F67;
    font-size: .875rem;
    color: #fff;

    &__frame {
        display: flex;
        justify-content: center;
        align-items: center;
        border: #fff 1px solid;
        min-width: 110px;
        min-height: 54px;
        padding: 21px 33px;
    }
}
.no-results-img {
    max-width: 250px;
    margin: 10px auto;
}
.no-results-text {
    margin-top: 17px;
    margin-left: 20px;
}
.articles-sec {
    margin-bottom: 80px;
    &__title {
        display: flex;
        align-items: center;
        }
        &__h {
            font-size: 1.25rem;
        }
        .arrow-right {
            font-size: 50px;
            color: #005F67;
        }
        .article {
            display: flex;
            display: none;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(131, 197, 190, 0.30);

            &__image-container {
                width: 100%;
                height: auto;
                overflow: hidden;
            }
            &__image {
                z-index: 9999;
                display: block;
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            &__content {
                display: flex;
                flex-direction: column;
                padding: 30px 30px 0;
            }
            &__title {
                margin-bottom: 20px;
            }
            &__sum {
                margin-bottom: 20px;
                font-size: .875rem;
                font-weight: 500;
            }
            .btn-read-more {
                padding: 3px;
                margin-bottom: 25px;
                align-self: flex-end;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000;
                font-size: .875rem;
                color: #fff;

                &__frame {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: #fff 1px solid;
                    min-width: 154px;
                    min-height: 54px;
                    padding: 21px 33px;
                }
            }
            &__line {
                padding: 0 10px;
            }
            .date {
                display: flex;
                gap: 12px;
                font-size: .875rem;
                font-weight: 500;
                padding: 10px 0 10px 30px;
            }
    }
}
.slider__nav {
    background-color: rgba(131, 197, 190, 0.30);
}


